*{
    margin:0;
    padding:0;
    font-size:10px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    padding:1em 0;
    
    background: #323232;
}
.text-white{
    color:#f2f2f2f2;
}
.header h2{
    font-size: 2.5rem;
    opacity: 1;
    position:relative;
    left:90%;
    animation-name: moves;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.header .navbar a{
    text-decoration: none;
    color:#f2f2f2f2;
    margin:0.5em;
    font-size: 1.2rem;
    
}
.header .navbar .ass{
    border-bottom: 1px solid #f2f2f2f2;
}
.header .navbar{
    float:right;
    margin:0;
    animation-name: navmove;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}
.header .navbar .as:hover{
    border-bottom: 1px solid #f2f2f2f2;
    margin-top:0.3em;
}
@keyframes navmove{
    from{
        margin-right:0em;
        transform: translateY(0%);
    }
    to{
        margin-right:1.5em;
        transform: translateY(-90%);
    }
}
.header:after{
    content:"";
    display:block;
    clear:both;
}
.vidue{
    height:30vh;
    background: #ddd;
    position: relative;
    margin-top: 1em;
}
.vidue .video1{
    position: relative;
    border: 1px solid green;
    width:35%;
    height:27vh;
    margin:1em;
    float:left;
}
.vidue .video1 video,.vidue .video2 video{
    object-fit: cover;
    width:100%;
    height:100%;
}
.vidue:after{
    content:"";
    display:block;
    clear: both;
}
.vidue .video2{
    position:relative;
    border: 1px solid green;
    width:35%;
    height:27vh;
    margin:1em;
    float:right;
}
.video1::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    top:0;
    left:0;
}
.video2::after{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    top:0;
    left:0;
}
.vidue .video1 .content1{
    position:absolute;
    top:50%;
    
    color:#f2f2f2f2;
    transform: translate(-50%,-50%);
    z-index: 2;
    text-align: center;
    opacity: 0;
    left:20%;
    transition: all 1.5s ease-in-out;
}

.content1 h3,.content2 h3{
    font-size: 1.8rem;
}
.vidue .video2 .content2{
    position:absolute;
    top:50%;
    left:20%;
    color:#f2f2f2f2;
    transform: translate(-50%,-50%);
    z-index: 2;
    opacity: 0;
    text-align: center;
    transition: all 1.5s ease-in-out;
}
.video1:hover .content1,.video2:hover .content2{
    opacity: 1;
    left:50%;
    background: rgba(0,0,0,0.2);
}
.content1 a,.content2 a{
    margin-top: 1em;
    display: inline-block;
    text-decoration: none;
    color:#f2f2f2f2;
    background: #454545;
    padding:0.8em;
    border-radius: 10%;
}
.content1 a:hover,.content2 a:hover{
    transition: background 1s ease-in-out;
    background: #252525;
}
.header2{
    
    padding:1em;
}
.header2 .navbar2{
    float:right;
    margin-right: 2em;
}
.header2 .navbar2 a{
    text-decoration: none;
    color: #d4d1d1f2;
    font-size: 1.2rem;
    margin-left: 0.4em;
}
.header2 .navbar2 .as:hover{
    border-bottom: 1.5px solid #252525;
}
.header2 .navbar2 .ass{
    border-bottom: 1.5px solid #252525;
}
.header2::after{
    content:"";
    display: block;
    clear:both;
}
.cricket{
    background: rgb(51, 50, 50);
    padding-left:1em;
    
    margin:3em 2em;
    box-shadow: 5px 5px 20px 0px gray;
}
.cricket h1{
    font-size: 2rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.2em;
    
}
.cricket p{
    font-size: 1.5rem;
    word-spacing: 0.4em;
    font-weight: bold;
    padding-bottom: 0.5em;
}
.cricket .img{
    width:40%;
    
    height:30vh;
    margin:0 auto;
    margin-bottom:1em;
    position:relative;
}
.cricket .img img{
    width:100%;
    height: 100%;
    object-fit: cover;

}
.cricket .img::after{
    content: "";
    position: absolute;
    top:0%;
    left:0%;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}

.table{
   margin:0 1em;
   box-shadow: 5px 5px 20px 0px gray;
}
.table table{
    border-collapse: collapse;
    margin:2.5em 0;
    font-size: 1.2rem;
    min-width: 100%;

}
.table thead tr{
    background: #009879;
    color:#f2f2f2f2;
    text-align: left;
    font-weight: bold;
}
.table table th,
.table table td{
    padding:1.2em 1.5em;
}
.table table tbody tr{
    border-bottom:1px solid #ddd;
    background-color: #f3f3f3f3;
    

}
.table table thead tr th{
    font-size: 1.6rem;
}
.table table tbody tr td{
    font-size: 1.2rem;
}
.table table tbody tr:last-of-type{
   
    animation-name: bormoves;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.table2 .flag{
    width:5vh;
    display: inline-block;
   
    height: 3vh;
    background: url('../Img/Australia.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table2 .flag2{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/510px-Flag_of_India.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table2 .flag3{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/Flag-Afghanistan.webp');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table2 .flag4{
    width:5vh;
    display: inline-block;
   
    height: 3vh;
    background: url('../Img/31F08r+NSVL._SY1000_.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table2 .flag5{
    width:5vh;
    display: inline-block;
   
    height: 3vh;
    background: url('../Img/Flag_of_South_Africa.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table2 .flag6{
    width:5vh;

    display: inline-block;
    
    height: 3vh;
    background: url('../Img/Cb8DeVEQy4xeuaGx-inr2gdzWlgaNuDZVLrMKtSTU7c.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.table2 .flag7{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/1600px-Flag_of_Sri_Lanka.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table2 .flag8{
    width:5vh;
    display: inline-block;
   
    height: 3vh;
    background: url('../Img/1600px-Flag_of_Ireland.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table2{
    
    box-shadow: 5px 5px 20px 0px gray;
 }
 .table2{
     border-collapse: collapse;
     margin:2.5em 1em;
     font-size: 1.2rem;
     min-width: 100%;
 
 }
 .table2 thead tr{
     background: #009879;
     color:#f2f2f2f2;
     text-align: left;
     font-weight: bold;
 }
 .table2 th,
 .table2 td{
     padding:1.2em 1.5em;
 }
 .table2 tbody tr{
     border-bottom:1px solid #ddd;
     background-color: #f3f3f3f3;
     
 }
 .table2 thead tr th{
     font-size: 1.6rem;
 }
 .table2 tbody tr td{
     font-size: 1.2rem;
 }
 .table2 tbody tr:last-of-type{
    
     animation-name: bormovess;
     animation-duration: 2s;
     animation-timing-function: ease-in-out;
     animation-fill-mode: forwards;
 }
 .football{
    background: rgb(51, 50, 50);
    padding-left:1em;
    
    margin:3em 2em;
    box-shadow: 5px 5px 20px 0px gray;
}
.football h1{
    font-size: 2rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.2em;
    
}
.football p{
    font-weight: lighter;
    font-size: 1.5rem;
    word-spacing: 0.4em;
    font-weight: bold;
    padding-bottom: 0.5em;
}
.football .img{
    width:40%;
    
    height:30vh;
    margin:0 auto;
    margin-bottom:1em;
    position: relative;
}
.football .img::after{
    content: "";
    position: absolute;
    top:0%;
    left:0%;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
.football .img img{
    width:100%;
    height: 100%;
    object-fit: cover;

}
.table3 .img1{
    width:5vh;
    display: inline-block;
   
    height: 3vh;
    background: url('../Img/livi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table3 .img2{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/depositphotos_88938940-stock-photo-flag-football-club-chelsea-england.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table3 .img3{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/510px-Unofficial_County_Flag_of_Greater_Manchester.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table3 .img4{
    width:5vh;
    display: inline-block;
   
    height: 3vh;
    background: url('../Img/mach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table3 .img5{
    width:5vh;
    display: inline-block;
   
    height: 3vh;
    background: url('../Img/70598775-gros-plan-du-drapeau-avec-le-logo-du-club-de-football-de-tottenham-hotspur-fc.webp');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table3 .img6{
    width:5vh;

    display: inline-block;
    
    height: 3vh;
    background: url('../Img/ares.webp');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.table3 .img7{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/Everton-Flag-600x442.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table3 .img8{
    width:5vh;
    display: inline-block;
   
    height: 3vh;
    background: url('../Img/fordham.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table3 .img9{
    width:5vh;
    display: inline-block;
   
    height: 3vh;
    background: url('../Img/FC_Barcelona_\(crest\).svg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.table3 .img10{
    width:5vh;
    display: inline-block;
   
    height: 3vh;
    background: url('../Img/Real_Madrid_CF.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.table3 .img11{
    width:5vh;
    display: inline-block;
   
    height: 3vh;
    background: url('../Img/Paris_Saint-Germain_F.C..svg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.table3{
    
    box-shadow: 5px 5px 20px 0px gray;
 }
 .table3{
     border-collapse: collapse;
     margin:2.5em 1em;
     font-size: 1.2rem;
     min-width: 100%;
 
 }
 .table3 thead tr{
     background: #009879;
     color:#f2f2f2f2;
     text-align: left;
     font-weight: bold;
 }
 .table3 th,
 .table3 td{
     padding:1.2em 1.5em;
 }
 .table3 tbody tr{
     border-bottom:1px solid #ddd;
     background-color: #f3f3f3f3;
     
 }
 .table3 thead tr th{
     font-size: 1.6rem;
 }
 .table3 tbody tr td{
     font-size: 1.2rem;
 }
 .table3 tbody tr:last-of-type{
    
     animation-name: bormovesss;
     animation-duration: 2s;
     animation-timing-function: ease-in-out;
     animation-fill-mode: forwards;
 }
 .champion h1{
     font-size: 1.8rem;
     background: #323232;
     padding:1em;
 }
 .champion .img{
     width:30%;
     height: 30vh;
     
     object-fit: cover;
     background: url("../Img/b-min.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
 }
 .champion .img h3{
     opacity: 0;
     transition: all 1s ease-in-out;
     font-size: 1.5rem;
     color:#070707fd;
     z-index: 5;
 }
 .champion .img:hover h3{
     opacity: 1;
     transform: translate(35%,550%);
     z-index: 5;
     
 }
 .champion .img::after{
     content: "";
     position: absolute;
     top:0%;
     left:0%;
     width:100%;
     height: 100%;
     background: rgba(0,0,0,0.4);
     z-index: 0;
 }
 
.champion .img2{
    width:30%;
    height: 30vh;
    
    object-fit: cover;
    background: url("../Img/san-main.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.champion .img2 h3{
    opacity: 0;
    transition: all 1s ease-in-out;
    font-size: 1.5rem;
    color:#070707fd;
    z-index: 5;
}
.champion .img2:hover h3{
    opacity: 1;
    transform: translate(35%,550%);
    z-index: 5;
    
}
.champion .img2::after{
    content: "";
    position: absolute;
    top:0%;
    left:0%;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 0;
}
.champion .img3{
    width:30%;
    height: 30vh;
    
    object-fit: cover;
    background: url("../Img/vitality-main.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.champion .img3 h3{
    opacity: 0;
    transition: all 1s ease-in-out;
    font-size: 1.5rem;
    color:#070707fd;
    z-index: 5;
}
.champion .img3:hover h3{
    opacity: 1;
    transform: translate(35%,550%);
    z-index: 5;
    
}
.champion .img3::after{
    content: "";
    position: absolute;
    top:0%;
    left:0%;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 0;
}
.champion{
    padding:3em;
}
.champion .img,.img2,.img3{
    margin-bottom: 1.5em;
}
.all{
    background: #ddd;
    box-shadow: 5px 5px 20px 0px gray;
    margin:2em;
}

.pre h1{
    font-size: 1.8rem;
    background: #323232;
    padding:1em;
}
.pre .img{
    width:30%;
    height: 30vh;

    object-fit: cover;
    background: url("../Img/main.jpg");
    position: relative;
}
.pre .img h3{
    opacity: 0;
    transition: all 1s ease-in-out;
    font-size: 1.5rem;
    color:#070707fd;
    z-index: 5;
}
.pre .img:hover h3{
    opacity: 1;
    transform: translate(35%,550%);
    z-index: 5;
    
}
.pre .img::after{
    content: "";
    position: absolute;
    top:0%;
    left:0%;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 0;
}

.pre .img2{
   width:30%;
   height: 30vh;
   
   object-fit: cover;
   background: url("../Img/main\ \(1\).jpg");
   position: relative;
}
.pre .img2 h3{
   opacity: 0;
   transition: all 1s ease-in-out;
   font-size: 1.5rem;
   color:#070707fd;
   z-index: 5;
}
.pre .img2:hover h3{
   opacity: 1;
   transform: translate(35%,550%);
   z-index: 5;
   
}
.pre .img2::after{
   content: "";
   position: absolute;
   top:0%;
   left:0%;
   width:100%;
   height: 100%;
   background: rgba(0,0,0,0.4);
   z-index: 0;
}
.pre .img3{
   width:30%;
   height: 30vh;
   
   object-fit: cover;
   background: url("../Img/stamford-bridge-main.png");
   position: relative;
}
.pre .img3 h3{
   opacity: 0;
   transition: all 1s ease-in-out;
   font-size: 1.5rem;
   color:#070707fd;
   z-index: 5;
}
.pre .img3:hover h3{
   opacity: 1;
   transform: translate(35%,550%);
   z-index: 5;
   
}
.pre .img3::after{
   content: "";
   position: absolute;
   top:0%;
   left:0%;
   width:100%;
   height: 100%;
   background: rgba(0,0,0,0.4);
   z-index: 0;
}
.pre{
   padding:3em;
}
.pre .img,.img2,.img3{
   margin-bottom: 1.5em;
}

.cham h1{
    font-size: 1.8rem;
    background: #323232;
    padding:1em;
}
.cham .img{
    width:30%;
    height: 30vh;
    
    object-fit: cover;
    background: url("../Img/main.png");
    position: relative;
}
.cham .img h3{
    opacity: 0;
    transition: all 1s ease-in-out;
    font-size: 1.5rem;
    color:#070707fd;
    z-index: 5;
}
.cham .img:hover h3{
    opacity: 1;
    transform: translate(35%,550%);
    z-index: 5;
    
}
.cham .img::after{
    content: "";
    position: absolute;
    top:0%;
    left:0%;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 0;
}

.cham .img2{
   width:30%;
   height: 30vh;
   
   object-fit: cover;
   background: url("../Img/king-main.png");
   position: relative;
}
.cham .img2 h3{
   opacity: 0;
   transition: all 1s ease-in-out;
   font-size: 1.5rem;
   color:#070707fd;
   z-index: 5;
}
.cham .img2:hover h3{
   opacity: 1;
   transform: translate(35%,550%);
   z-index: 5;
   
}
.cham .img2::after{
   content: "";
   position: absolute;
   top:0%;
   left:0%;
   width:100%;
   height: 100%;
   background: rgba(0,0,0,0.4);
   z-index: 0;
}
.cham .img3{
   width:30%;
   height: 30vh;
   
   object-fit: cover;
   background: url("../Img/stjames-main.png");
   position: relative;
}
.cham .img3 h3{
   opacity: 0;
   transition: all 1s ease-in-out;
   font-size: 1.5rem;
   color:#070707fd;
   z-index: 5;
}
.cham .img3:hover h3{
   opacity: 1;
   transform: translate(35%,550%);
   z-index: 5;
   
}
.cham .img3::after{
   content: "";
   position: absolute;
   top:0%;
   left:0%;
   width:100%;
   height: 100%;
   background: rgba(0,0,0,0.4);
   z-index: 0;
}
.cham{
   padding:3em;
}
.cham .img,.img2,.img3{
   margin-bottom: 1.5em;
}
.footer{

    text-align: center;
    padding:2em;
    background-color: rgb(51, 43, 43);
    margin-top: 3em;
}

 
.footer p{
    color:white;
    
}
.india{
    margin:1em 4em;
    background-color: #e9e5e5f3;
    box-shadow: 5px 5px 20px 0px gray;
}
.india .logo{
    font-size: 2.5rem;
    margin:0.5em 0em;
    text-align: center;
    color:#9c9a9af2;
    
}
.india h1{
    font-size: 1.8rem;
    color:#9c9a9af2;
    margin-left: 1.5em;
    letter-spacing: 0.2rem;
    margin: 0.5em;
}
.india p{
    margin-left: 2em;
    font-size: 1.4rem;
    word-spacing: 0.3rem;
    
}
.India{
    border-collapse: collapse;
    margin:2.5em 1em;
    font-size: 1.2rem;
    min-width: 100%;

}
.India thead tr{
    background: #009879;
    color:#f2f2f2f2;
    text-align: left;
    font-weight: bold;
}
.India th,
.India td{
    padding:1.2em 1.5em;
}
.India tbody tr{
    border-bottom:1px solid #ddd;
    background-color: #f3f3f3f3;
    
}
.India thead tr th{
    font-size: 1.6rem;
}
.India tbody tr td{
    font-size: 1.2rem;
}
.India tbody tr:last-of-type{
   
    animation-name: bormovesss;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.India .img{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/510px-Flag_of_India.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.afglg{
    font-size: 2.5rem;
    text-align: center;
    color:#009879;
}

.Afghanistan{
    border-collapse: collapse;
    margin:2.5em 1em;
    font-size: 1.2rem;
    min-width: 100%;

}
.Afghanistan thead tr{
    background: #009879;
    color:#f2f2f2f2;
    text-align: left;
    font-weight: bold;
}
.Afghanistan th,
.Afghanistan td{
    padding:1.2em 1.5em;
}
.Afghanistan tbody tr{
    border-bottom:1px solid #ddd;
    background-color: #f3f3f3f3;
    
}
.Afghanistan thead tr th{
    font-size: 1.6rem;
}
.Afghanistan tbody tr td{
    font-size: 1.2rem;
}
.Afghanistan tbody tr:last-of-type{
   
    animation-name: bormovesss;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.Afghanistan .img{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/Flag-Afghanistan.webp');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.indialg{
    font-size: 2.5rem;
    text-align: center;
    color:#009879;
}

.Pakistan{
    border-collapse: collapse;
    margin:2.5em 1em;
    font-size: 1.2rem;
    min-width: 100%;

}
.Pakistan thead tr{
    background: #009879;
    color:#f2f2f2f2;
    text-align: left;
    font-weight: bold;
}
.Pakistan th,
.Pakistan td{
    padding:1.2em 1.5em;
}
.Pakistan tbody tr{
    border-bottom:1px solid #ddd;
    background-color: #f3f3f3f3;
    
}
.Pakistan thead tr th{
    font-size: 1.6rem;
}
.Pakistan tbody tr td{
    font-size: 1.2rem;
}
.Pakistan tbody tr:last-of-type{
   
    animation-name: bormovesss;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.Pakistan .img{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/31F08r+NSVL._SY1000_.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.paklg{
    font-size: 2.5rem;
    text-align: center;
    color:#009879;
}

.Australia{
    border-collapse: collapse;
    margin:2.5em 1em;
    font-size: 1.2rem;
    min-width: 100%;

}
.Australia thead tr{
    background: #009879;
    color:#f2f2f2f2;
    text-align: left;
    font-weight: bold;
}
.Australia th,
.Australia td{
    padding:1.2em 1.5em;
}
.Australia tbody tr{
    border-bottom:1px solid #ddd;
    background-color: #f3f3f3f3;
    
}
.Australia thead tr th{
    font-size: 1.6rem;
}
.Australia tbody tr td{
    font-size: 1.2rem;
}
.Australia tbody tr:last-of-type{
   
    animation-name: bormovesss;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.Australia .img{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/Australia.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.auslg{
    font-size: 2.5rem;
    text-align: center;
    color:#009879;
}

.New{
    border-collapse: collapse;
    margin:2.5em 1em;
    font-size: 1.2rem;
    min-width: 100%;

}
.New thead tr{
    background: #009879;
    color:#f2f2f2f2;
    text-align: left;
    font-weight: bold;
}
.New th,
.New td{
    padding:1.2em 1.5em;
}
.New tbody tr{
    border-bottom:1px solid #ddd;
    background-color: #f3f3f3f3;
    
}
.New thead tr th{
    font-size: 1.6rem;
}
.New tbody tr td{
    font-size: 1.2rem;
}
.New tbody tr:last-of-type{
   
    animation-name: bormovesss;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.New .img{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/1600px-Flag_of_New_Zealand.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.newlg{
    font-size: 2.5rem;
    text-align: center;
    color:#009879;
}
.England{
    border-collapse: collapse;
    margin:2.5em 1em;
    font-size: 1.2rem;
    min-width: 100%;

}
.England thead tr{
    background: #009879;
    color:#f2f2f2f2;
    text-align: left;
    font-weight: bold;
}
.England th,
.England td{
    padding:1.2em 1.5em;
}
.England tbody tr{
    border-bottom:1px solid #ddd;
    background-color: #f3f3f3f3;
    
}
.England thead tr th{
    font-size: 1.6rem;
}
.England tbody tr td{
    font-size: 1.2rem;
}
.England tbody tr:last-of-type{
   
    animation-name: bormovesss;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.England .img{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/Flag-England.webp');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.englg{
    font-size: 2.5rem;
    text-align: center;
    color:#009879;
}


.West{
    border-collapse: collapse;
    margin:2.5em 1em;
    font-size: 1.2rem;
    min-width: 100%;

}
.West thead tr{
    background: #009879;
    color:#f2f2f2f2;
    text-align: left;
    font-weight: bold;
}
.West th,
.West td{
    padding:1.2em 1.5em;
}
.West tbody tr{
    border-bottom:1px solid #ddd;
    background-color: #f3f3f3f3;
    
}
.West thead tr th{
    font-size: 1.6rem;
}
.West tbody tr td{
    font-size: 1.2rem;
}
.West tbody tr:last-of-type{
   
    animation-name: bormovesss;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.West .img{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/Cb8DeVEQy4xeuaGx-inr2gdzWlgaNuDZVLrMKtSTU7c.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.welg{
    font-size: 2.5rem;
    text-align: center;
    color:#009879;
}

.Sri{
    border-collapse: collapse;
    margin:2.5em 1em;
    font-size: 1.2rem;
    min-width: 100%;

}
.Sri thead tr{
    background: #009879;
    color:#f2f2f2f2;
    text-align: left;
    font-weight: bold;
}
.Sri th,
.Sri td{
    padding:1.2em 1.5em;
}
.Sri tbody tr{
    border-bottom:1px solid #ddd;
    background-color: #f3f3f3f3;
    
}
.Sri thead tr th{
    font-size: 1.6rem;
}
.Sri tbody tr td{
    font-size: 1.2rem;
}
.Sri tbody tr:last-of-type{
   
    animation-name: bormovesss;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.Sri .img{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/1600px-Flag_of_Sri_Lanka.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.srilg{
    font-size: 2.5rem;
    text-align: center;
    color:#009879;
}

.Ireland{
    border-collapse: collapse;
    margin:2.5em 1em;
    font-size: 1.2rem;
    min-width: 100%;

}
.Ireland thead tr{
    background: #009879;
    color:#f2f2f2f2;
    text-align: left;
    font-weight: bold;
}
.Ireland th,
.Ireland td{
    padding:1.2em 1.5em;
}
.Ireland tbody tr{
    border-bottom:1px solid #ddd;
    background-color: #f3f3f3f3;
    
}
.Ireland thead tr th{
    font-size: 1.6rem;
}
.Ireland tbody tr td{
    font-size: 1.2rem;
}
.Ireland tbody tr:last-of-type{
   
    animation-name: bormovesss;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.Ireland .img{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/1600px-Flag_of_Ireland.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.irlg{
    font-size: 2.5rem;
    text-align: center;
    color:#009879;
}

hr{

    margin-bottom: 1rem;
}
.football2{
    margin:1em 4em;
    background-color: #e9e5e5f3;
    box-shadow: 5px 5px 20px 0px gray;
}
.football2 .logo{
    font-size: 2.5rem;
    margin:0.5em 0em;
    text-align: center;
    color:#9c9a9af2;
    
}
.football2 h1{
    font-size: 1.8rem;
    color:#9c9a9af2;
    margin-left: 1.5em;
    letter-spacing: 0.2rem;
    margin: 0.5em;
}
.football2 p{
    margin-left: 2em;
    font-size: 1.4rem;
    word-spacing: 0.3rem;
    
}
.football2 h3 strong u{
    font-size: 1.4rem;
    margin-left: 2em;
    word-spacing: 0.4rem;
}
.messi .img{
    
    width:50%;
    height: 40vh;
    float :left;
    background: url("../Img/hi-res-67ba2cd4215bff0d322be08e173488e7_crop_north.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
}

.messi .row{
    box-shadow: 5px 5px 20px 0px gray;
    margin:0em 4em;
}
.messi .content{
    background-color: #454545;
    width:50%;
    height: 40vh;
    float:right;
}
.messi .row:after{
    content:"";
    display: block;
    clear: both;
}
.messi .row h1{
    font-size: 2rem;
    text-align: center;
}
.messi .row p{
    font-size: 1.6rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.15rem;

}
.messi .row .content{
    padding-left: 1em;
}
.ronaldo .img{
    
    width:50%;
    height: 40vh;
    float :right;
    background: url("../Img/16455664188134.webp");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
}

.ronaldo .row{
    box-shadow: 5px 5px 20px 0px gray;
    margin:0em 4em;
}
.ronaldo .content{
    
    width:50%;
    height: 40vh;
    float:left;
}
.ronaldo .row:after{
    content:"";
    display: block;
    clear: both;
}
.ronaldo .row h1{
    font-size: 2rem;
    text-align: center; 
    

}
.ronaldo .row p{
    font-size: 1.6rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.15rem;
}
.ronaldo .row .content{
    padding-left: 1em;
}


.bappe .img{
    
    width:50%;
    height: 40vh;
    float :left;
    background: url("../Img/Kylian-Mbappe-celebration-PSG-vs-Lorient-Ligue-1-2020-1020x680.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
}

.bappe .row{
    box-shadow: 5px 5px 20px 0px gray;
    margin:0em 4em;
}
.bappe .content{
    
    width:50%;
    height: 40vh;
    float:right;
}
.bappe .row:after{
    content:"";
    display: block;
    clear: both;
}
.bappe .row h1{
    font-size: 2rem;
    text-align: center; 
    

}
.bappe .row p{
    font-size: 1.6rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.15rem;
}
.bappe .row .content{
    padding-left: 1em;
}

.neymar .img{
    
    width:50%;
    height: 40vh;
    float :right;
    background: url("../Img/113689.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
}

.neymar .row{
    box-shadow: 5px 5px 20px 0px gray;
    margin:0em 4em;
}
.neymar .content{
    background-color: #454545;
    width:50%;
    height: 40vh;
    float:left;
}
.neymar .row:after{
    content:"";
    display: block;
    clear: both;
}
.neymar .row h1{
    font-size: 2rem;
    text-align: center; 
    

}
.neymar .row p{
    font-size: 1.6rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.15rem;
}
.neymar .row .content{
    padding-left: 1em;
}
.messi,.ronaldo,.bappe,.neymar{
    margin-bottom: 1.5em;
}
.Manch{
    border-collapse: collapse;
    margin:2.5em 1em;
    font-size: 1.2rem;
    min-width: 100%;

}
.Manch thead tr{
    background: #009879;
    color:#f2f2f2f2;
    text-align: left;
    font-weight: bold;
}
.Manch th,
.Manch td{
    padding:1.2em 1.5em;
}
.Manch tbody tr{
    border-bottom:1px solid #ddd;
    background-color: #f3f3f3f3;
    
}
.Manch thead tr th{
    font-size: 1.6rem;
}
.Manch tbody tr td{
    font-size: 1.2rem;
}
.Manch tbody tr:last-of-type{
   
    animation-name: bormovesss;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.Manch .img{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/mach.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.manlg{
    font-size: 2.5rem;
    text-align: center;
    color:#009879;
}
.City{
    border-collapse: collapse;
    margin:2.5em 1em;
    font-size: 1.2rem;
    min-width: 100%;

}
.City thead tr{
    background: #009879;
    color:#f2f2f2f2;
    text-align: left;
    font-weight: bold;
}
.City th,
.City td{
    padding:1.2em 1.5em;
}
.City tbody tr{
    border-bottom:1px solid #ddd;
    background-color: #f3f3f3f3;
    
}
.City thead tr th{
    font-size: 1.6rem;
}
.City tbody tr td{
    font-size: 1.2rem;
}
.City tbody tr:last-of-type{
   
    animation-name: bormovesss;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.City .img{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/510px-Unofficial_County_Flag_of_Greater_Manchester.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.balg{
    font-size: 2.5rem;
    text-align: center;
    color:#009879;
}
.Barsa{
    border-collapse: collapse;
    margin:2.5em 1em;
    font-size: 1.2rem;
    min-width: 100%;

}
.Barsa thead tr{
    background: #009879;
    color:#f2f2f2f2;
    text-align: left;
    font-weight: bold;
}
.Barsa th,
.Barsa td{
    padding:1.2em 1.5em;
}
.Barsa tbody tr{
    border-bottom:1px solid #ddd;
    background-color: #f3f3f3f3;
    
}
.Barsa thead tr th{
    font-size: 1.6rem;
}
.Barsa tbody tr td{
    font-size: 1.2rem;
}
.Barsa tbody tr:last-of-type{
   
    animation-name: bormovesss;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.Barsa .img{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/FC_Barcelona_\(crest\).svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.relg{
    font-size: 2.5rem;
    text-align: center;
    color:#009879;
}
.real{
    border-collapse: collapse;
    margin:2.5em 1em;
    font-size: 1.2rem;
    min-width: 100%;

}
.real thead tr{
    background: #009879;
    color:#f2f2f2f2;
    text-align: left;
    font-weight: bold;
}
.real th,
.real td{
    padding:1.2em 1.5em;
}
.real tbody tr{
    border-bottom:1px solid #ddd;
    background-color: #f3f3f3f3;
    
}
.real thead tr th{
    font-size: 1.6rem;
}
.real tbody tr td{
    font-size: 1.2rem;
}
.real tbody tr:last-of-type{
   
    animation-name: bormovesss;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.real .img{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/Real_Madrid_CF.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.pglg{
    font-size: 2.5rem;
    text-align: center;
    color:#009879;
}
.psg{
    border-collapse: collapse;
    margin:2.5em 1em;
    font-size: 1.2rem;
    min-width: 100%;

}
.psg thead tr{
    background: #009879;
    color:#f2f2f2f2;
    text-align: left;
    font-weight: bold;
}
.psg th,
.psg td{
    padding:1.2em 1.5em;
}
.psg tbody tr{
    border-bottom:1px solid #ddd;
    background-color: #f3f3f3f3;
    
}
.psg thead tr th{
    font-size: 1.6rem;
}
.psg tbody tr td{
    font-size: 1.2rem;
}
.psg tbody tr:last-of-type{
   
    animation-name: bormovesss;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.psg .img{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/Paris_Saint-Germain_F.C..svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

@keyframes lgmove{
    from{
        text-align: left;
    }
    to{
        text-align: center;
    }
}
@keyframes bormovesss{
    from{
        border-bottom: 0px solid #009879;
    }
    to{
        border-bottom: 2px solid #009879;
    }
}
@keyframes moves{
    from{
        opacity: 0;
        left:90%;
    }
    to{
        display: inline-block;
        opacity: 1;
        left:15%;
    }
}
@media(max-width:500px){
    html body{
        font-size: 8px;
    }
    html body .header .navbar{
        float: none;
        width:100%;
        text-align: center;

    }
    html body .cricket .img{
        width:100%;
    }
    html body .football .img{
        width:100%;
    }
    html body .all .champion div ,html body .all .pre div,html body .all .cham div{
        width:100%;
    }
    html body .all .champion div:hover h3,html body .all .pre div:hover h3,html body .all .cham div:hover h3{
        transform: translate(35%,300%);
    }
    @keyframes navmove {
        from{
            transform: translateY(0%);
        }
        to{
            transform: translateY(30%);
        }
    }
    html body .messi .content,html body .messi .img{
        float :none;
        width:100%;
        
        
    }
    html body .messi .content p{
        font-size: 1rem;
    }
    body .ronaldo .content,body .ronaldo .img{
        float :none;
        width:100%;
        
    }
    html body .ronaldo .content p{
        font-size: 1rem;
    }
    html body .bappe .content,html body .bappe .img{
        float :none;
        width:100%;
        
    }
    html body .bappe .content p{
        font-size: 1rem;
    }
    html body .neymar .content,html body .neymar .img{
        float :none;
        width:100%;
        
    }
    html body .neymar .content p{
        font-size: 1rem;
    }
    html .football2 h1{
        font-size: 1.5rem;
    }
    html .football2 .logo{
        font-size: 1.8rem;
    }
    html body .football2 p{
        font-size: 1rem;
    }
    html .india h1{
        font-size: 1.5rem;
    }
    html .india .logo{
        font-size: 1.8rem;
    }
    html body .india p{
        font-size: 1rem;
    }
    html body .football h1{
        font-size: 1.5rem;
    }
    html body .football p{
        font-size: 1rem;
    }
    html body .cricket h1{
        font-size: 1.5rem;
    }
    html body .cricket p{
        font-size: 1rem;
    }
    html body .content1 h3,html body .content2 h3{
        font-size: 1.2rem;
    }
    html body .content1 a,html body .content2 a{
        padding:0.3em;
    }
}
@media(orientation:landscape) and (max-height:500px){
    html body{
        font-size: 8px;
    }
    html body .ronaldo .content p{
        font-size: 1rem;
    }
    html body .messi .content p{
        font-size: 0.8rem;
    }

html body .bappe .content p{
        font-size: 1rem;
    }
    html body .neymar .content p{
        font-size: 1rem;
    }
    html .football2 h1{
        font-size: 1.5rem;
    }
    html .football2 .logo{
        font-size: 1.8rem;
    }
    html body .football2 p{
        font-size: 1rem;
    }
    html .india h1{
        font-size: 1.5rem;
    }
    html .india .logo{
        font-size: 1.8rem;
    }
    html body .india p{
        font-size: 1rem;
    }
    html body .football h1{
        font-size: 1.5rem;
    }
    html body .football p{
        font-size: 1rem;
    }
    html body .cricket h1{
        font-size: 1.5rem;
    }
    html body .cricket p{
        font-size: 1rem;
    }
    html body .content1 h3,html body .content2 h3{
        font-size: 1.2rem;
    }
    html body .content1 a,html body .content2 a{
        padding:0.3em;
    }
    html body .champion .img,html body .champion .img2,html body .champion .img3{
        height: 50vh;
        width: 50%;
    }
    html body .pre .img,html body .pre .img2,html body .pre .img3{
        height: 50vh;
        width: 50%;
    }
    html body .cham .img,html body .cham .img2,html body .cham .img3{
        height: 50vh;
        width: 50%;
    }
}