body{
    font-family: Arial, Helvetica, sans-serif;
    
}
*{
    margin:0;
    padding:0;
    font-size:16px;
    box-sizing: border-box;
}
.header{
    padding:1em 0;
    
    background: #323232;
}
.text-white{
    color:#f2f2f2f2;
}
.header h2{
    font-size: 2.5rem;
    opacity: 1;
    position:relative;
    left:90%;
    animation-name: moves;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.header .navbar a{
    text-decoration: none;
    color:#f2f2f2f2;
    margin:0.5em;
    font-size: 1.2rem;
    
}
.header .navbar .ass{
    border-bottom: 1px solid #f2f2f2f2;
}
.header .navbar{
    float:right;
    margin:0;
    animation-name: navmove;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}
.header .navbar .as:hover{
    border-bottom: 1px solid #f2f2f2f2;
    margin-top:0.3em;
}
@keyframes navmove{
    from{
        margin-right:0em;
        transform: translateY(0%);
    }
    to{
        margin-right:1.5em;
        transform: translateY(-90%);
    }
}
.header:after{
    content:"";
    display:block;
    clear:both;
}
@keyframes moves{
    

    from{
        opacity: 0;
        left:90%;
    }
    to{
        display: inline-block;
        opacity: 1;
        left:15%;
    }
}
@media(max-width:700px){
    *{
        font-size: 8px;
    }
    html body div{
        width:100%;
    }
    html body .video{
        width:100%;
    }
    html body .header .navbar{
        float: none;
        width:100%;
        text-align: center;

    }
    html body .cricket .img{
        width:100%;
    }
    html body .football .img{
        width:100%;
    }
    html body .all .champion div ,html body .all .pre div,html body .all .cham div{
        width:100%;
    }
    html body .all .champion div:hover h3,html body .all .pre div:hover h3,html body .all .cham div:hover h3{
        transform: translate(35%,300%);
    }
    @keyframes navmove {
        from{
            transform: translateY(0%);
        }
        to{
            transform: translateY(30%);
        }
    }
    html body .messi .content,html body .messi .img{
        float :none;
        width:100%;
        
        
    }
    html body .messi .content p{
        font-size: 1rem;
    }
    body .ronaldo .content,body .ronaldo .img{
        float :none;
        width:100%;
        
    }
    html body .ronaldo .content p{
        font-size: 1rem;
    }
    html body .bappe .content,html body .bappe .img{
        float :none;
        width:100%;
        
    }
    html body .bappe .content p{
        font-size: 1rem;
    }
    html body .neymar .content,html body .neymar .img{
        float :none;
        width:100%;
        
    }
    html body .neymar .content p{
        font-size: 1rem;
    }
    html .football2 h1{
        font-size: 1.5rem;
    }
    html .football2 .logo{
        font-size: 1.8rem;
    }
    html body .football2 p{
        font-size: 1rem;
    }
    html .india h1{
        font-size: 1.5rem;
    }
    html .india .logo{
        font-size: 1.8rem;
    }
    html body .india p{
        font-size: 1rem;
    }
    html body .football h1{
        font-size: 1.5rem;
    }
    html body .football p{
        font-size: 1rem;
    }
    html body .cricket h1{
        font-size: 1.5rem;
    }
    html body .cricket p{
        font-size: 1rem;
    }
    html body .content1 h3,html body .content2 h3{
        font-size: 1.2rem;
    }
    html body .content1 a,html body .content2 a{
        padding:0.3em;
    }
}
@media(orientation:landscape) and (max-height:500px){
    html body{
        font-size: 8px;
    }
    html body .ronaldo .content p{
        font-size: 1rem;
    }
    html body .messi .content p{
        font-size: 0.8rem;
    }

html body .bappe .content p{
        font-size: 1rem;
    }
    html body .neymar .content p{
        font-size: 1rem;
    }
    html .football2 h1{
        font-size: 1.5rem;
    }
    html .football2 .logo{
        font-size: 1.8rem;
    }
    html body .football2 p{
        font-size: 1rem;
    }
    html .india h1{
        font-size: 1.5rem;
    }
    html .india .logo{
        font-size: 1.8rem;
    }
    html body .india p{
        font-size: 1rem;
    }
    html body .football h1{
        font-size: 1.5rem;
    }
    html body .football p{
        font-size: 1rem;
    }
    html body .cricket h1{
        font-size: 1.5rem;
    }
    html body .cricket p{
        font-size: 1rem;
    }
    html body .content1 h3,html body .content2 h3{
        font-size: 1.2rem;
    }
    html body .content1 a,html body .content2 a{
        padding:0.3em;
    }
    html body .champion .img,html body .champion .img2,html body .champion .img3{
        height: 50vh;
        width: 50%;
    }
    html body .pre .img,html body .pre .img2,html body .pre .img3{
        height: 50vh;
        width: 50%;
    }
    html body .cham .img,html body .cham .img2,html body .cham .img3{
        height: 50vh;
        width: 50%;
    }
}