*{
    margin:0;
    padding:0;
    font-size:10px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    padding:1em 0;
    
    background: #323232;
}
.text-white{
    color:#f2f2f2f2;
}
.header h2{
    font-size: 2.5rem;
    opacity: 1;
    position:relative;
    left:90%;
    animation-name: moves;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.header .navbar a{
    text-decoration: none;
    color:#f2f2f2f2;
    margin:0.5em;
    font-size: 1.2rem;
    
}
.header .navbar .ass{
    border-bottom: 1px solid #f2f2f2f2;
}
.header .navbar{
    float:right;
    margin:0;
    animation-name: navmove;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    
}
.header .navbar .as:hover{
    border-bottom: 1px solid #f2f2f2f2;
    margin-top:0.3em;
}
@keyframes navmove{
    from{
        margin-right:0em;
        transform: translateY(0%);
    }
    to{
        margin-right:1.5em;
        transform: translateY(-90%);
    }
}
.header:after{
    content:"";
    display:block;
    clear:both;
}
.header2{
    
    padding:1em;
}
.header2 .navbar2{
    float:right;
    margin-right: 2em;
}
.header2 .navbar2 a{
    text-decoration: none;
    color: #d4d1d1f2;
    font-size: 1.2rem;
    margin-left: 0.4em;
}
.header2 .navbar2 .as:hover{
    border-bottom: 1.5px solid #252525;
}
.header2 .navbar2 .ass{
    border-bottom: 1.5px solid #252525;
}
.header2::after{
    content:"";
    display: block;
    clear:both;
}
.video{
    width:100%;
    height: 90vh;
    margin: 2em 0em;
    
    position: relative;
    
}
.video video{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.video:after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.6);

}
.video .content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index:3;
}
.video h1{
    font-size: 2.5rem;
    color:#f2f2f2f2;
}
.video a{
    display: inline-block;
    text-decoration: none;
    background: #323232;
    padding: 0.5em 2em;
    border-radius: 15%;

    transition: background 1s ease-in-out;
    font-size: 1.5rem;
    color:#f2f2f2f2;
    margin-top:0.5em;
}
.video a:hover{
    background: #252525;
}
.video .content p{
    font-size: 1.4rem;
    color:#f2f2f2f2;
    margin:0.4em 0;
}

.table{
    border-collapse: collapse;
    
    background-color: #f2f2f2f2;
    text-align: left;
    overflow:hidden;
    margin:0 auto;
}
.table thead{
    box-shadow: 5px 5px 20px 0px lightgray;
}
.table th{
    padding:1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.table td{
    padding: 1em 2em;

}

.table tbody tr .cap{
    border-radius: 0.4em;
    background-color: aliceblue;
    padding:0.2rem 1rem;
    text-align: center;
}

.table:hover{
    box-shadow: 5px 5px 20px 0px lightgray;
   
}
.table tbody tr .img1{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/dde6e45888eef295dd2b0a71c7bbab7b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table tbody tr .img2{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/236-2366030_kkr-ipl-team-2019.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table tbody tr .img3{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/67149952.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table tbody tr .img4{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/1018083-lucknow-super-giants.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table tbody tr .img5{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/72902668.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table tbody tr .img6{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/Sunrisers_Hyderabad.svg.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table tbody tr .img7{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/rcb_new_logo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table tbody tr .img8{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/72902599.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table tbody tr .img9{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/Gujarat_Lions.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.table tbody tr .img10{
    width:5vh;
    display: inline-block;
    
    height: 3vh;
    background: url('../Img/');
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.logo{
    font-size: 2.5rem;
    text-align: center;
    margin:1em 0em;
}
.iplhis{
    margin:1em 4em;
    background-color: #e9e5e5f3;
    box-shadow: 5px 5px 20px 0px gray;
}
.iplhis h1{
    font-size: 2.5rem;
    margin:0.5em 0em;
    text-align: center;
    color:#9c9a9af2;
    
}
.iplhis h3{
    font-size: 1.8rem;
    color:#9c9a9af2;
    margin-left: 1.5em;
    letter-spacing: 0.2rem;
    margin: 0.5em;
}
.iplhis p{
    margin-left: 2em;
    font-size: 1.4rem;
    word-spacing: 0.3rem;
    
}
.iplhis h3 strong u{
    font-size: 1.4rem;
    margin-left: 2em;
    word-spacing: 0.4rem;
}
.Group{
    border-collapse: collapse;
    
    background-color: #f2f2f2f2;
    text-align: left;
    overflow:hidden;
    margin:0 auto;
    width: 75%;
}
.Group thead{
    box-shadow: 5px 5px 20px 0px lightgray;
}
.Group th{
    padding:1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.Group td{
    padding: 1em 2em;

}

.logo2{
    font-size: 2.5rem;
    text-align: center;
    margin:1em 0em;
}

.Group:hover{
    box-shadow: 5px 5px 20px 0px lightgray;
   
}
.umpire{
    margin:1em 4em;
    background-color: #e9e5e5f3;
    box-shadow: 5px 5px 20px 0px gray;
}
.umpire h1{
    font-size: 2.5rem;
    margin:0.5em 0em;
    text-align: center;
    color:#9c9a9af2;
    
}

.umpire p{
    margin-left: 2em;
    font-size: 1.4rem;
    word-spacing: 0.3rem;
    
}
.spo{
    margin:1em 4em;
    background-color: #e9e5e5f3;
    box-shadow: 5px 5px 20px 0px gray;
}
.spo h1{
    font-size: 2.5rem;
    margin:0.5em 0em;
    text-align: center;
    color:#9c9a9af2;
    
}

.spo p{
    margin-left: 2em;
    font-size: 1.4rem;
    word-spacing: 0.3rem;
    
}

.gujrat{
    border-collapse: collapse;
    
    background-color: #f2f2f2f2;
    text-align: left;
    overflow:hidden;
    margin:0 auto;
    width: 75%;
}
.gujrat thead{
    box-shadow: 5px 5px 20px 0px lightgray;
}
.gujrat th{
    padding:1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.gujrat td{
    padding: 1em 2em;

}

.chennai{
    border-collapse: collapse;
    
    background-color: #f2f2f2f2;
    text-align: left;
    overflow:hidden;
    margin:0 auto;
    width: 75%;
}
.chennai thead{
    box-shadow: 5px 5px 20px 0px lightgray;
}
.chennai th{
    padding:1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.chennai td{
    padding: 1em 2em;

}
.delhi{
    border-collapse: collapse;
    
    background-color: #f2f2f2f2;
    text-align: left;
    overflow:hidden;
    margin:0 auto;
    width: 75%;
}
.delhi thead{
    box-shadow: 5px 5px 20px 0px lightgray;
}
.delhi th{
    padding:1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.delhi td{
    padding: 1em 2em;

}
.Kulkata{
    border-collapse: collapse;
    
    background-color: #f2f2f2f2;
    text-align: left;
    overflow:hidden;
    margin:0 auto;
    width: 75%;
}
.Kulkata thead{
    box-shadow: 5px 5px 20px 0px lightgray;
}
.Kulkata th{
    padding:1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.Kulkata td{
    padding: 1em 2em;

}
.Rajestan{
    border-collapse: collapse;
    
    background-color: #f2f2f2f2;
    text-align: left;
    overflow:hidden;
    margin:0 auto;
    width: 75%;
}
.Rajestan thead{
    box-shadow: 5px 5px 20px 0px lightgray;
}
.Rajestan th{
    padding:1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.Rajestan td{
    padding: 1em 2em;

}
.luck{
    border-collapse: collapse;
    
    background-color: #f2f2f2f2;
    text-align: left;
    overflow:hidden;
    margin:0 auto;
    width: 75%;
}
.luck thead{
    box-shadow: 5px 5px 20px 0px lightgray;
}
.luck th{
    padding:1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.luck td{
    padding: 1em 2em;

}
.mumbai{
    border-collapse: collapse;
    
    background-color: #f2f2f2f2;
    text-align: left;
    overflow:hidden;
    margin:0 auto;
    width: 75%;
}
.mumbai thead{
    box-shadow: 5px 5px 20px 0px lightgray;
}
.mumbai th{
    padding:1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.mumbai td{
    padding: 1em 2em;

}
.punjab{
    border-collapse: collapse;
    
    background-color: #f2f2f2f2;
    text-align: left;
    overflow:hidden;
    margin:0 auto;
    width: 75%;
}
.punjab thead{
    box-shadow: 5px 5px 20px 0px lightgray;
}
.punjab th{
    padding:1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.punjab td{
    padding: 1em 2em;

}
.royal{
    border-collapse: collapse;
    
    background-color: #f2f2f2f2;
    text-align: left;
    overflow:hidden;
    margin:0 auto;
    width: 75%;
}
.royal thead{
    box-shadow: 5px 5px 20px 0px lightgray;
}
.royal th{
    padding:1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.royal td{
    padding: 1em 2em;

}
.Sunriser{
    border-collapse: collapse;
    
    background-color: #f2f2f2f2;
    text-align: left;
    overflow:hidden;
    margin:0 auto;
    width: 75%;
}
.Sunriser thead{
    box-shadow: 5px 5px 20px 0px lightgray;
}
.Sunriser th{
    padding:1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.Sunriser td{
    padding: 1em 2em;

}

.bid{
    border-collapse: collapse;
    
    background-color: #f2f2f2f2;
    text-align: left;
    overflow:hidden;
    margin:0 auto;
    width: 75%;
}
.bid thead{
    box-shadow: 5px 5px 20px 0px lightgray;
}
.bid th{
    padding:1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.bid td{
    padding: 1em 2em;

}
.top{
    border-collapse: collapse;
    
    background-color: #f2f2f2f2;
    text-align: left;
    overflow:hidden;
    margin:0 auto;
    width: 75%;
}
.top thead{
    box-shadow: 5px 5px 20px 0px lightgray;
}
.top th{
    padding:1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
}

.top td{
    padding: 1em 2em;

}
.up{
    margin:1em 4em;
    background-color: #e9e5e5f3;
    box-shadow: 5px 5px 20px 0px gray;
}
.up h1{
    font-size: 2.5rem;
    margin:0.5em 0em;
    text-align: center;
    color:#9c9a9af2;
    
}

.up p{
    margin-left: 2em;
    font-size: 1.4rem;
    word-spacing: 0.3rem;
    
}
.gtlogo,.kkrlogo,.cslogo,.dclogo,.lglogo,.milogo,.pklogo,.rrlogo,.rcblogo,.srhlogo,.team,.most{
    font-size: 2.5rem;
    text-align: center;
    margin:1em 0em;
}
.footer{

    text-align: center;
    padding:2em;
    background-color: rgb(51, 43, 43);
    margin-top: 3em;
}

 
.footer p{
    color:white;
    
}
@keyframes moves{
    

    from{
        opacity: 0;
        left:90%;
    }
    to{
        display: inline-block;
        opacity: 1;
        left:15%;
    }
}
@media(max-width:500px){
    html body{
        font-size: 8px;
    }
    html body div{
        width:100%;
    }
    html body .video{
        width:100%;
    }
    html body .header .navbar{
        float: none;
        width:100%;
        text-align: center;

    }
    html body .cricket .img{
        width:100%;
    }
    html body .football .img{
        width:100%;
    }
    html body .all .champion div ,html body .all .pre div,html body .all .cham div{
        width:100%;
    }
    html body .all .champion div:hover h3,html body .all .pre div:hover h3,html body .all .cham div:hover h3{
        transform: translate(35%,300%);
    }
    @keyframes navmove {
        from{
            transform: translateY(0%);
        }
        to{
            transform: translateY(30%);
        }
    }
    html body .messi .content,html body .messi .img{
        float :none;
        width:100%;
        
        
    }
    html body .messi .content p{
        font-size: 1rem;
    }
    body .ronaldo .content,body .ronaldo .img{
        float :none;
        width:100%;
        
    }
    html body .ronaldo .content p{
        font-size: 1rem;
    }
    html body .bappe .content,html body .bappe .img{
        float :none;
        width:100%;
        
    }
    html body .bappe .content p{
        font-size: 1rem;
    }
    html body .neymar .content,html body .neymar .img{
        float :none;
        width:100%;
        
    }
    html body .neymar .content p{
        font-size: 1rem;
    }
    html .football2 h1{
        font-size: 1.5rem;
    }
    html .football2 .logo{
        font-size: 1.8rem;
    }
    html body .football2 p{
        font-size: 1rem;
    }
    html .india h1{
        font-size: 1.5rem;
    }
    html .india .logo{
        font-size: 1.8rem;
    }
    html body .india p{
        font-size: 1rem;
    }
    html body .football h1{
        font-size: 1.5rem;
    }
    html body .football p{
        font-size: 1rem;
    }
    html body .cricket h1{
        font-size: 1.5rem;
    }
    html body .cricket p{
        font-size: 1rem;
    }
    html body .content1 h3,html body .content2 h3{
        font-size: 1.2rem;
    }
    html body .content1 a,html body .content2 a{
        padding:0.3em;
    }
}
@media(orientation:landscape) and (max-height:500px){
    html body{
        font-size: 8px;
    }
    html body .ronaldo .content p{
        font-size: 1rem;
    }
    html body .messi .content p{
        font-size: 0.8rem;
    }

html body .bappe .content p{
        font-size: 1rem;
    }
    html body .neymar .content p{
        font-size: 1rem;
    }
    html .football2 h1{
        font-size: 1.5rem;
    }
    html .football2 .logo{
        font-size: 1.8rem;
    }
    html body .football2 p{
        font-size: 1rem;
    }
    html .india h1{
        font-size: 1.5rem;
    }
    html .india .logo{
        font-size: 1.8rem;
    }
    html body .india p{
        font-size: 1rem;
    }
    html body .football h1{
        font-size: 1.5rem;
    }
    html body .football p{
        font-size: 1rem;
    }
    html body .cricket h1{
        font-size: 1.5rem;
    }
    html body .cricket p{
        font-size: 1rem;
    }
    html body .content1 h3,html body .content2 h3{
        font-size: 1.2rem;
    }
    html body .content1 a,html body .content2 a{
        padding:0.3em;
    }
    html body .champion .img,html body .champion .img2,html body .champion .img3{
        height: 50vh;
        width: 50%;
    }
    html body .pre .img,html body .pre .img2,html body .pre .img3{
        height: 50vh;
        width: 50%;
    }
    html body .cham .img,html body .cham .img2,html body .cham .img3{
        height: 50vh;
        width: 50%;
    }
}